essentia_tensorflow==2.1b6.dev1389
langdetect==1.0.9
lyricsgenius==3.7.5
numpy==2.4.0
pandas==2.3.3
plotly==6.5.0
python-dotenv==1.2.1
rapidfuzz==3.14.3
scikit_learn==1.8.0
sentence_transformers==5.2.0
spotipy==2.25.2
streamlit==1.52.2
tqdm==4.67.1
umap_learn==0.5.9.post2
